@media screen and (min-width: 1024px) {
	#container {
		max-width: 980px;
		padding: 20px 0;
	}
	html{font-size:100%;}
}

html {
	font-size : 75%;

}

li {
	list-style: none;
}

body{
	background-color:#F0FFF0;
	margin:0;
}

table {
    width: 100%;
    border: 1px solid #aaa;
    border-spacing:0;
    border-collapse:collapse;
}

th {
	padding:5px;
}

td {
	padding:5px;
}

/* -------------------------header----------------------------------- */

#container, .header-nav {
	width: 100%;
	margin: 0 auto;
}

/* clearfix */
.header-nav_list:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
	font-size: 0;
}


.header-nav{
	width: 100%;
	height: 36px;
	padding:0;
	background-color: #99CCCC;
}

.header-nav_list{
	margin:0 auto;
	padding:0 10%;
}

.header-nav_list li.left-menu{
	float: left;
	width:10%;
	text-align: center;
	list-style-type: none;
}

.header-nav_list li.right-menu{
	float: right;
	width:10%;
	text-align: center;
	list-style-type: none;
}

.header-nav_list li a{
	color:#000000;
	text-decoration:none;
	margin:0;
	padding:0.75em 0;
	font-size: 100%;
	display:block;
}

.header-nav_list li a:hover{
	color:#ff0000;
}


.fixed{
	height: 35px;
	max-width: 100%;
	position:fixed;
	top:0;
	margin:0 auto;
}

/* -------------------------header----------------------------------- */

/* -------------------------errorMessages----------------------------------- */

.errorMessages {
	text-align: center;
}

.error {
	color: red;
    font-size: x-large;
}

.comment-error {
	color: red;
}

/* -------------------------errorMessages----------------------------------- */

/* -------------------------contents----------------------------------- */

.contents {
	width: 80%;
	margin: auto;
	margin-bottom: 26px;
}

.contents:after {
	background-color:#e6e6e6;
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}


/* -------------------------contents----------------------------------- */

/* -------------------------left-content----------------------------------- */

.left-content {
	width: 20%;
	float: left;
	margin: 10px auto;
}

/* -------------------------left-content----------------------------------- */

/* -------------------------left-top-content----------------------------------- */

.left-top-content {
	background-color:#ffffff;
	height: 100%;
	margin-bottom: 10px;
	border: 1px solid #aaa;
}

.left-top-content .profile {
	padding: 10px;
}

.profile .user-name {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

/* -------------------------left-top-content----------------------------------- */

/* -------------------------left-bottom-content----------------------------------- */

.left-bottom-content {
	height: 100%;
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #aaa;
}

.category-input {
	width: 90%;
}

.narrowing-title {
	font-size: large;
}

/* -------------------------left-bottom-content----------------------------------- */

/* -------------------------right-content----------------------------------- */

.right-content {
	float: left;
	height: 555px;
	width: calc(80% - 32px);
	margin: 10px 0 0 10px;
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #aaa;
	overflow:auto;
}

.messages:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}

.messages {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #aaa;
}


.message_tbl-menu{
	width: 75px;
}

.top-form-area {
	float: left;
	width: 40%;
}

.comment_text {
	width: 90%;
	height: 100px;
}

.comments {
	float: left;
	max-width: 60%;
}

/* -------------------------right-content----------------------------------- */

/* -------------------------newMessage.jsp----------------------------------- */

.new_message-form-area {
	padding: 20px;
}

.new_message-title-box {
	width: 100%;
}

.new_messaget-box {
	width: 100%;
}

.new_message-category-box {
	width: 100%;
}

/* -------------------------newMessage.jsp----------------------------------- */

/* -------------------------userManagement.jsp----------------------------------- */

#user_tbl {
    width: 80%;
    background-color: #ffffff;
    margin: 20px 10%;
}

.user_tbl-Row {
	background-color: #CCCCCC;
	text-align: center;
}

.edit-form {
	text-align: center;
}

.form-stopResurrection {
	text-align: center;
}

/* -------------------------userManagement.jsp----------------------------------- */

/* -------------------------settings.jsp----------------------------------- */

#edit-submit {
	margin: 0 47%;
}

/* -------------------------settings.jsp----------------------------------- */

/* -------------------------signup.jsp----------------------------------- */

.user_tbl-content input {
	width: 90%;
}

.user_tbl-content select {
	width: 50%;
}

#signup-submit {
	margin: 0 47%;
}

/* -------------------------signup.jsp----------------------------------- */

/* -------------------------login.jsp----------------------------------- */

h1.loginTitle {
	text-align: center;
	margin-top: 150px;
}

.login-outer {
	position: relative;
    height: 450px;
}

.login-form {
	position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 40%;
    height: 20rem;
    background-color: #ffffff;
    border: 1px solid #aaa;
}

#login-id-label {
	margin: 0 10% 0 20%;
	font-size: x-large;
}

#login-id {
	width: 60%;
	margin: 0 20%;
}

#login-password-label {
	margin: 0 20%;
	font-size: x-large;
}

#login-password {
	width: 60%;
	margin: 0 20%;
}

#login-submit {
	height: 40px;
	margin: 0 0 10% 20%;
}


/* -------------------------login.jsp----------------------------------- */

#footer {
	height: 25px;
	width:100%;
	bottom: 0;
	position: fixed;
	background-color: #F0FFF0
}

.copyright {
	bottom: 3px;
	left: 43%;
	position: fixed;
	background-color: #ffffff;
}